/*-- CSS file --*/

body {
        font-family: 'Source Sans Pro', sans-serif; 
        font-size: 14px;
        background-color: #f5f5f5;
		margin-top: 0px;
}

div.searchBox{
	height:120px;
	margin: auto;
	width: auto;	
}

input.textBar{
	height:30px;
}

input.searchB{
	padding-left: 5px;
}

img.imgList{
	padding-top: 30px;
	padding-left:35px;
	padding-right: 35px;
	border-radius: 8px;
	height: 350px;
	width: 275px;
} 

div.bookcontainer{
	width: 960px;
	margin:auto;
	background-color: white;
	border:1px solid #000000;
	padding-bottom: 25px;
	overflow:hidden;
}

#container{
	width: 1020px;
	margin:auto;
	background-color: white;
	overflow:hidden;
}

header {
	background-color:white;
	text-align:left;
	width:1020px;
}

nav {
	list-style-type: none;
	padding: 0;
    background-color:#E7E7E7;
    border:6px solid white;
    display: block;
    margin: 0;
    overflow: hidden;
}

nav ul{
	margin:6px;
    padding: 0;
	margin-left:10px;
}

/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
*/
li {
    float: left;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #D3D7DA   ;
}

.searchB{

	{
    padding-left: 2cm;
} 
}

.dropdown {
    
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
    position:absolute;
    width:330px;
    height: auto;
    left:45%;
    top:80px;
    background: #FFF;
}

#modal_trigger {margin:4px auto; width:55px; display:block;}
#trigger_mod {margin:4px auto; width:55px; display:block;}

.btn {padding:10px 20px; background: #F4F4F2;}
.btn_log {padding:10px 10px;}
.btn_red {background: green; color: #FFF;}

.btn:hover {background: #E4E4E2;}
.btn_red:hover {background: #C12B05;}

a.btn {color:#666; text-align: center; text-decoration: none;}
a.btn_red {color: #FFF;}

.one_half {width:50%; display: block; float:left;}
.one_half.last {width:45%; margin-left:5%;}


.popupHeader {font-size:16px; text-transform: uppercase;}
.popupHeader {background:#F4F4F2; position:relative; padding:10px 20px; border-bottom:1px solid #DDD; font-weight:bold;}
.popupHeader .modal_close {position: absolute; right: 0; top:0; padding:10px 15px; background:#E4E4E2; cursor: pointer; color:#aaa; font-size:16px;}

.popupBody {padding:20px;}


.select_login {}
.select_login .social_box {display:block; clear:both; padding:10px; margin-bottom: 10px; background: #F4F4F2; overflow: hidden;}
.select_login .icon {display:block; width:10px; padding:5px 10px; margin-right: 10px; float:left; color:#FFF; font-size:16px; text-align: center;} 
.select_login .fb .icon {background:#3B5998;}
.select_login .google .icon {background:#DD4B39;}
.select_login .icon_title {display:block; padding:5px 0; float:left; font-weight: bold; font-size: 16px; color:#777;}
.select_login .social_box:hover {background: #E4E4E2;}

.centeredText {text-align: center; margin: 20px 0; clear: both; overflow: hidden; text-transform: uppercase;}

.action_btns {clear:both; overflow: hidden;}
.action_btns a {display: block;}

.user_login {display: none;}
.user_login label {display: block; margin-bottom:5px;}
.user_login input[type="text"], .user_login input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
